*{
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* navbar style */
.wrapper{
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a{
    font-size: 50px;
    font-weight: 800;
    float: left;
    color: #A1C298;
}

.menu{
    float: right;
}

nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    top: 0;
    background-color: #F9F9F9;
    z-index: 1;
    border-bottom: 1px solid #251B37;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li{
    float: left;

}

nav ul li a{
    color: #251B37;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}


/* main style */
section{
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom{
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi{
    font-size: 20px;
    font-weight: bold;
    color: #251B37;
}

h2{
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #251B37;
    width: 100%;
    line-height: 50px;
}

a.tbl-pink{
    background: #9C2C77;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #F9F9F9;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink:hover{
    background: #E14D2A;
    text-decoration: none;
}

p{
    margin: 10px 0px;
    padding: 10px 0px;
}

.tengah{
    text-align: center;
    width: 100%;
}

.tutor-list{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-tutor{
    width: 20%;
    margin: 0 auto;
}

.kartu-tutor img{
    width: 80%;
    border-radius: 50%;
}

.kartu-tutor p{
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #251B37;
}

.partner-list{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-partner{
    width: 20%;
    margin: 0 auto;
}

.kartu-partner img{
    width: 150px;
    border-radius: 50px;
}